.Weather {
  max-width: 700px;
  min-height: 300px;
  background-color: #e3f2fd;
  border: 2px solid #1e3a5f;
  border-radius: 30px;
  padding: 20px;

  font-family: sans-serif;
  margin: 20px auto;
}

.Weather h1,
h2 {
  text-align: center;
  font-weight: bold;
  color: #2b2d42;
}

.Weather li {
  list-style-type: none;
  text-align: center;
}

.Weather .Footer {
  font-size: 12px;
}

.Weather .ul {
  margin: 0;
  padding: 0;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .temperature {
  font-size: 76px;
}

.Weather .unit {
  font-size: 16px;
}

.Weather img {
  font-size: 76px;
}
