.Weather {
  max-width: 450px;
  min-height: 300px;
  background-color: #e3f2fd;
  border: 2px solid #d7dee7;
  border-radius: 30px;
  padding: 20px;

  font-family: sans-serif;
  margin: 20px auto;
}

.Weather h1 {
  text-align: center;
  font-weight: bold;
  color: #2b2d42;
}

.Weather li {
  list-style-type: none;
  text-align: center;
}

.Weather .Footer {
  font-size: 12px;
}

.Weather .ul {
  margin: 0;
  padding: 0;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .temperature {
  font-size: 120px;
}

.Weather .unit {
  font-size: 16px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.weather .row.conditions {
  border: 1px solid red;
}
