.WeatherForecast {
  text-align: center;
}

.WeatherForecast col {
  background: red;
}

.WeatherForecast h2 {
  text-align: left;
  margin-top: 40px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
