.Weather {
  max-width: 800px;
  min-height: 300px;
  background-color: #fff;

  border-radius: 20px;
  padding: 20px;

  font-family: sans-serif;
  margin: 20px auto;
}

.Weather h1 {
  font-weight: bold;
  color: #2b2d42;
}

.Weather li {
  list-style-type: none;
}

.Weather .Footer {
  font-size: 12px;
}

.Weather .ul {
  margin: 0;
  padding: 0;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .btn {
  background-color: #679dc0;
}
.Weather .form-control {
  background-color: #f6f7f7;
}

.Weather .temperature {
  font-size: 120px;
}

.Weather .unit {
  font-size: 16px;
}

.weather-icon {
  width: 150px;
  height: 150px;
}
